
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.extra-bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 72px;
}

/* enleve scrollbar de Chrome, Safari, et Opera */
::-webkit-scrollbar {
    display: none;
}

/* pour ll autre version des nav peur defait pp2fk */
* {
    scrollbar-width: none; /* Firefox 64+ */
}

*::-webkit-scrollbar {
    display: none;
}


body{
    background-color: #575756
}


#estetic1{
    margin: -20px;

}

#logo_mini {
    margin-left: 15px;
    margin-top: 15px;
}

.div10 {

}


.parent {
    flex-flow: column wrap;
    background-color: #232321;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 4 / 2 / 5; }
    .div3 { grid-area: 1 / 5 / 2 / 6; }
    .div4 { grid-area: 1 / 6 / 2 / 7; }
    .div5 { grid-area: 1 / 7 / 2 / 8; }
    .div6 { grid-area: 1 / 8 / 2 / 9; }
    .div7 { grid-area: 1 / 10 / 2 / 11; }
    .div8 { grid-area: 1 / 11 / 2 / 12; }
    .div9 { grid-area: 3 / 2 / 6 / 8; }
    .div10 { grid-area: 2 / 8 / 5 / 12;}
    .div11 { grid-area: 6 / 2 / 7 / 8; }
    .div12 { grid-area: 7 / 1 / 11 / 12; }
    .div13 { grid-area: 11 / 1 / 13 / 12; }

