<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/parametre/parametre-connexions.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon"/>
    </head>
<body>
    <a href="{% url 'index' %}"><div id="logoSmall">
        <svg id="Calque_2" data-name="Calque 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 63.68 40.55">
            <defs>
                <style>
                    .cls-1 {
                        fill: url(#Nouvelle_nuance_de_dégradé_1);
                        stroke-width: 0px;
                    }
                </style>
                <linearGradient id="Nouvelle_nuance_de_dégradé_1" data-name="Nouvelle nuance de dégradé 1" x1="0" y1="20.28" x2="63.68" y2="20.28" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#c5589b"/>
                    <stop offset="1" stop-color="#3e68af"/>
                </linearGradient>
            </defs>
            <g id="Calque_1-2" data-name="Calque 1">
                <path class="cls-1" d="M53.45,19.35c0-.06,0-.12,0-.18,0-6.56-4.87-11.88-10.87-11.88-1.37,0-2.68.29-3.88.8C36.6,3.32,31.96,0,26.56,0c-7.37,0-13.35,6.17-13.35,13.78,0,.75.07,1.48.19,2.2-.81-.22-1.66-.35-2.53-.35C4.87,15.63,0,21.21,0,28.09c0,6.4,4.21,11.66,9.62,12.37v.09h41.6c6.88,0,12.46-4.79,12.46-10.69,0-5.25-4.42-9.61-10.23-10.51Z"/>
            </g>
        </svg>
    </div></a>
    <div id="TopBar">
        <div class="topBarClickable"><a href="{% url 'index' %}">Acceuil</a></div>
        <div class="topBarClickable"><a href="explore.html">Parcourir</a></div>
        <div class="topBarClickable"><a>Compte</a></div>
        <div class="topBarClickable"><a>Fil d'actualité</a></div>
        <div class="topBarClickable"><a href ="parametre-default.html">Paramètre</a> </a></div>
    </div>  
    
    <div id="page">
        <div id="miniTopBar">
            <div class="topBarClickable"><input type="text" class="search-bar" placeholder="Search..."></div>
            <div id="left">
                <div class="topBarClickable"><a>2222222</a></div>
                <div class="topBarClickable"><a>3333333</a></div>
            </div>
        </div>
        
        <div class = "bas">
            <span class = "menu-parametre">
                <div class="jsp" ><a></a>
                    <button class="menu-parametre-item" type="button" onclick="basepa()" >Gestion du comtpe</button>
                    
                </div>
                <div class="jsp"><a ></a>
                    <button class="menu-parametre-item" type="button" onclick="baseta()">Tableau de bord</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="basea()" >Activité</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baseh()" >Historique</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button"  onclick="basetr()">Transactions</button>
                   
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baseo()" >Option d'abonnement</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baser()" >Remboursement</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="basei()" >Interface</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="item1" type="button" onclick="basep()" >Connexions</button>
                    
                </div>
                <div class="jsp" ><a></a>
                    <button class="menu-parametre-item" type="button" onclick="basec()" >Confidentialité</button>
                    
                </div>
                <div class="jsp" ><a ></a>
                    <button class="menu-parametre-item" type="button"  onclick="baseai()">Aide</button>
                    
                </div>
                <div class="item-2" ><a >Déconnexion</a href = "deconnexion.html"></div>

            </span>
            <div class = "onglet">
                <div class="plus-haut">Connexions</div>
                <div class="haut">
                    <div class="box">
                        <div class="ligne"></div>
                        <div class="contenu">
                            <div class="box2">
                                <div class="logo1"></div>
                                <div class="marq">Deezer</div>
                                <button class="connect">Se connecter</button>
                            </div>
                            <div class="box2">
                                <div class="logo2"></div>
                                <div class="marq">Spotify</div>
                                <button class="connect">Se connecter</button>
                            
                            </div>
                            <div class="box2">
                               
                                <div class="logo3"></div>
                                <div class="marq">Soundcloud</div>
                                <button class="connect">Se connecter</button> 
                                
                            </div>
                            <div class="box2">
                                
                                <div class="logo4"></div>
                                <div class="marq4">Youtube</div>
                                <button class="connect">Se connecter</button> 
                                
                            </div>
                            <div class="box2">
                                
                                <div class="logo5"></div>
                                <div class="marq5">Fl studio</div>
                                <button class="connect">Se connecter</button> 
                                
                            </div>
                            <div class="box2">
                                
                                <div class="logo6"></div>
                                <div class="marq6">Autre</div>
                                <button class="connect">Se connecter</button>
                                
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                
        
                </div>
            </div>
                
                
                            
                
                            
                    

                
                
                </div>
            </div>
        </div>
    </div>

    
    <script>
        function basepa() {
            window.location.href = "{% url 'setting_view' 'parametre-default' %}";
        }
        function baseta() {
            window.location.href = "{% url 'setting_view' 'parametre-tableau' %}";
        }
        function basea() {
            window.location.href = "{% url 'setting_view' 'parametre-activite' %}";
        }
        function baseh() {
            window.location.href = "{% url 'setting_view' 'parametre-historique-beat' %}";
        }
        function basetr() {
            window.location.href = "{% url 'setting_view' 'parametre-transactions' %}";
        }
        function baseo() {
            window.location.href = "{% url 'setting_view' 'parametre-abonnement' %}";
        }
        function baser() {
            window.location.href = "{% url 'setting_view' 'parametre-remboursement' %}";
        }
        function basei() {
            window.location.href = "{% url 'setting_view' 'parametre-interface' %}";
        }
        function basep() {
            window.location.href = "{% url 'setting_view' 'parametre-connexions' %}";
        }
        function basec() {
            window.location.href = "{% url 'setting_view' 'parametre-confidentialite' %}";
        }
        function baseai() {
            window.location.href = "{% url 'setting_view' 'parametre-aide' %}";
        }
        function baseaf() {
            window.location.href = "{% url 'setting_view' 'parametre-activite-fav' %}";
        }
        function baseac() {
            window.location.href = "{% url 'setting_view' 'parametre-activite-com' %}";
        }
    </script>
</body>
</html>