<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/parametre/parametre-default.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon"/>
      </head>
<body>
    <a href="{% url 'index' %}"><div id="logoSmall">
        <svg id="Calque_2" data-name="Calque 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 63.68 40.55">
            <defs>
                <style>
                    .cls-1 {
                        fill: url(#Nouvelle_nuance_de_dégradé_1);
                        stroke-width: 0px;
                    }
                </style>
                <linearGradient id="Nouvelle_nuance_de_dégradé_1" data-name="Nouvelle nuance de dégradé 1" x1="0" y1="20.28" x2="63.68" y2="20.28" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#c5589b"/>
                    <stop offset="1" stop-color="#3e68af"/>
                </linearGradient>
            </defs>
            <g id="Calque_1-2" data-name="Calque 1">
                <path class="cls-1" d="M53.45,19.35c0-.06,0-.12,0-.18,0-6.56-4.87-11.88-10.87-11.88-1.37,0-2.68.29-3.88.8C36.6,3.32,31.96,0,26.56,0c-7.37,0-13.35,6.17-13.35,13.78,0,.75.07,1.48.19,2.2-.81-.22-1.66-.35-2.53-.35C4.87,15.63,0,21.21,0,28.09c0,6.4,4.21,11.66,9.62,12.37v.09h41.6c6.88,0,12.46-4.79,12.46-10.69,0-5.25-4.42-9.61-10.23-10.51Z"/>
            </g>
        </svg>
    </div></a>
    <div id="TopBar">
        <div style="flex: 1;"></div>
        <div class="topBarClickable"><a href="{% url 'index' %}">Acceuil</a></div>
        <div class="topBarClickable"><a href="{% url 'explore' %}">Parcourir</a></div>
        <div class="topBarClickable"><a href="{% url 'profile' %}">Compte</a></div>
        <div class="topBarClickable"><a>Fil d'actualité</a></div>
        <div class="topBarClickable"><a href ="{% url 'setting_view' 'parametre-default' %}">Paramètre</a></div>
    
        <div style="flex: 1;"></div>
    
        {% if request.user.is_authenticated %}
            <div class="profile-menu-container">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="small-profile-picture" id="profile-menu-button">
                {% else %}
                    <img src="{% static 'images/Fichier_2.png' %}" alt="Profile Picture" class="small-profile-picture" id="profile-menu-button">
                {% endif %}
                <div id="profile-menu" class="profile-menu">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'setting_view' 'parametre-default' %}">Settings</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <div id="right-top" style="margin-right: 40px;">
                <button id="loginButton"><a href="{% url 'loginAndRegister' %}" style="color: #fff; font-weight: 900; text-decoration: none;">SE CONNECTER</a></button>
            </div>
        {% endif %}
      
      </div> 
    
    <div id="page">
        <div id="miniTopBar">
            <div class="topBarClickable"><input type="text" class="search-bar" placeholder="Search..."></div>
            <div id="left">
                <div class="topBarClickable"><a>2222222</a></div>
                <div class="topBarClickable"><a>3333333</a></div>
            </div>
        </div>
        
        <div class = "bas">
            <span class = "menu-parametre">
                <div class="jsp" ><a></a>
                    <button class="item1" type="button" onclick="basepa()" >Gestion du comtpe</button>
                    
                </div>
                <div class="jsp"><a ></a>
                    <button class="menu-parametre-item" type="button" onclick="baseta()">Tableau de bord</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="basea()" >Activité</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baseh()" >Historique</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button"  onclick="basetr()">Transactions</button>
                   
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baseo()" >Option d'abonnement</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="baser()" >Remboursement</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="basei()" >Interface</button>
                    
                </div>
                <div class="jsp" ><a></a >
                    <button class="menu-parametre-item" type="button" onclick="basep()" >Connexions</button>
                    
                </div>
                <div class="jsp" ><a></a>
                    <button class="menu-parametre-item" type="button" onclick="basec()" >Confidentialité</button>
                    
                </div>
                <div class="jsp" ><a ></a>
                    <button class="menu-parametre-item" type="button"  onclick="baseai()">Aide</button>
                    
                </div>
                <div class="item-2" ><a >Déconnexion</a href = "deconnexion.html"></div>

            </span>
            <div class = "onglet">
                <div class="profil" ><a>Profil</a>
                    <button class ="logo"></button>
                    <div class ="nom"><a>Mr Meddy</a></div>
                    <div class ="bio"><a>Je suis le meilleur beatmaker de la planète</a></div>
                    <div class ="abonnement"><a>Abonnement premium</a></div>
                    <div class ="vente"><a>36 beats Vendus</a></div>
                    <div class ="ecoute"><a>34k écoutes</a></div>
                    <div class ="abonne"><a>103k abonnés</a></div>
                </div>
                <div class ="compte-reste"><a></a>
                    <div class = "bio2">Bio</div>
                    <input type = "text" class = "espace" placeholder="Qui êtes vous ?"></a>
                        <div class ="question">Qui êtes vous ?</div>
                    </input>
                
                            
                <div class = "formulaire">
                    <div class = form1>
                        <h1 class = "perso">Informations personnelles</h1> 
                        <form class = "form" method="post" action = "form.php">  
                            <label for="nom-input">Nom</label>
                            <input type="text" class = "exemple" placeholder ="Nom" name="nom-input"></input>

                            <label for="nom-input">Prénom</label>
                            <input type="text" class = "exemple" placeholder = "Prénom"></input>

                            <label for="nom-input">Numéro de teléphone</label>
                            <input type="tel" class = "exemple"  placeholder ="06 11 22 33 44"></input>

                            <label for="nom-input">adresse mail</label>
                            <input type="email" class = "exemple"  placeholder ="nom.prenom@gmail.com"></input>

                            <label for="nom-input">Mot de passe</label>
                            <input type="password" class = "exemple"  placeholder ="******"></input>

                            <label for="nom-input">Pays</label>
                            <input type="text" class = "exemple"  placeholder ="Choisisez un pays"></input>


                        </form>
                    </div>
                        <div class = "form2">
                            <h1 class = "perso">Informations professionelles</h1> 
                            <form class = "forme" method="post" action = "form.php"></form>
                                <label for="nom-input">Nom d'artiste</label>
                                <input type="text" class = "exemple"  placeholder ="Nom d'artiste"></input>
                                
                                <label for="nom-input">Adresse pro</label>
                                <input type="email" class = "exemple"  placeholder ="nom.pro@gmail.com"></input>
                                 <button class="suppr">Supprimer le comtpe</button>



                            </form>
                        </div> 
                </div>
    
                            
                    

                
                
            </div>
            </div>
        </div>
    </div>

  
    <script>
        function basepa() {
            window.location.href = "{% url 'setting_view' 'parametre-default' %}";
        }
        function baseta() {
            window.location.href = "{% url 'setting_view' 'parametre-tableau' %}";
        }
        function basea() {
            window.location.href = "{% url 'setting_view' 'parametre-activite' %}";
        }
        function baseh() {
            window.location.href = "{% url 'setting_view' 'parametre-historique-beat' %}";
        }
        function basetr() {
            window.location.href = "{% url 'setting_view' 'parametre-transactions' %}";
        }
        function baseo() {
            window.location.href = "{% url 'setting_view' 'parametre-abonnement' %}";
        }
        function baser() {
            window.location.href = "{% url 'setting_view' 'parametre-remboursement' %}";
        }
        function basei() {
            window.location.href = "{% url 'setting_view' 'parametre-interface' %}";
        }
        function basep() {
            window.location.href = "{% url 'setting_view' 'parametre-connexions' %}";
        }
        function basec() {
            window.location.href = "{% url 'setting_view' 'parametre-confidentialite' %}";
        }
        function baseai() {
            window.location.href = "{% url 'setting_view' 'parametre-aide' %}";
        }
        function baseaf() {
            window.location.href = "{% url 'setting_view' 'parametre-activite-fav' %}";
        }
        function baseac() {
            window.location.href = "{% url 'setting_view' 'parametre-activite-com' %}";
        }
    </script>
</body>
</html>